.message {
  padding: 10px;
}

.message .notify {
  width: 15px;
  height: 15px;
  padding-left:10px;
  padding-bottom: 0px;
}
.chathead {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  
}

.chattext {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatname {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}

.chatmeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.chatmessage {
  color: gray;
  font-size: 0.8rem;
}

.chattime {
  color: #999;
  font-size: 0.7rem;
  /* white-space: nowrap; */
  font-family: 'Courier New', Courier, monospace;
}
